name: Deploy to Lolipop FTP

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4
      
      - name: Install lftp
        run: sudo apt-get install -y lftp

      - name: Deploy with lftp
        run: |
          lftp -c "open -u ${{ secrets.FTP_USERNAME }},${{ secrets.FTP_PASSWORD }} ${{ secrets.FTP_SERVER }}; set ssl:verify-certificate no; cd flowerbeginner/controll/; mirror -R --verbose --parallel=2 --exclude .git --exclude .github . ./"
